.contacts__paragraph {
    list-style: none;
    margin: 0;
    margin-left: 60px;
    margin-right: 60px;
    padding: 0;
}

.contacts__paragraph:nth-child(2n) {
    margin-top: 30px;
    margin-bottom: 30px;
}