.about-me__title {
    position: relative;
    margin: 0;
    margin-bottom: 30px;
    padding-left: 50px;
    font-size: 24px;
    line-height: 35px;
    font-weight: 600;
    background-color: rgba(29, 58, 54, 0.521);
}

.about-me__title:before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 20px;
    height: 35px;
    background-color: #dfca13;
}